.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.mt-43 {
  margin-top: 2rem!important;
}

.small-font-size {
  font-size: 0.5em!important;
}

.App-intro {
  font-size: large;
}

.no-border {
  border: 0px solid #FFF!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
