.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.text-color-lemon { 
  color: #8ce40e!important; 
} 
.marker{
    border: 5px solid #f44336;
    background-color: white;
    text-align: center;
    color: #3f51b5;
    font-weight: bold!important;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
